:root {
    --priceColor: #BEEE11;
    --hoverPriceColor: #a6cc1b;
    --priceBgColor: #344654;
    --settingAlertBg: #00000000;
}

.ggdeals_dlc_price, .ggdeals_search_price, .ggdeals_bundle_price {
    line-height: 12px;
    font-size: 11px;
    padding: 1px 3px;
    padding-left: 17px;
    color: var(--priceColor);
    background-color: var(--priceBgColor);
    position: absolute;
    right: 9px;
}

.ggdeals_dlc_price:hover, .ggdeals_search_price:hover, .ggdeals_bundle_price:hover, .ggdeals_similar_game_price:hover, .ggdeals_lowest .ggdeals_price, .ggdeals_other_cart_price:hover, .ggdeals_recommended_price:hover, .ggdeals_main_recommended_price:hover, .ggdeals_wishlist_price:hover, .ggdeals_main_cart_price:hover {
    color: var(--hoverPriceColor);
}

.ggdeals_dlc_price::before, .ggdeals_bundle_price::before, .ggdeals_search_price::before, .ggdeals_other_cart_price::before, .ggdeals_main_recommended_price::before, .ggdeals_recommended_price::before, .ggdeals_similar_game_price::before, .ggdeals_wishlist_price::before, .ggdeals_main_cart_price::before {
    content: "";
    left: 2px;
    position: absolute;
    width: 11px;
    height: 11px;
    background-image: url(https://github.com/Juzlus/GG.deals-on-Steam/blob/server/icons/ggdeals-16x16.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20%;
}

.ggdeals_similar_game_price, .ggdeals_other_cart_price {
    padding: 11px 4px;
    font-size: 11px;
    position: absolute !important;
    left: 0px;
    bottom: 0;
    z-index: 10 !important;
    color: var(--priceColor);
    padding-left: 22px;
}

.ggdeals_similar_game_price::before, .ggdeals_other_cart_price::before {
    left: 6px;
}

.ggdeals_price_history {
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    color: rgb(198, 212, 223);
    display: flex;
    border-radius: 4px;
    padding: 8px 16px;
    gap: 10px;
}

.ggdeals_price_history .ggdeals_lowest {
    color: rgb(143, 152, 160);
    font-style: italic;
    font-size: 12px;
}

.ggdeals_price_history:hover .ggdeals_current {
    text-decoration: underline;
}

.ggdeals_price_history:hover .ggdeals_lowest {
    color: #c6d4df;
}

.ggdeals_price_history:hover img {
    opacity: 1;
    transition: 0.2s opacity;
}

.ggdeals_price_history img {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: 0.2s opacity;
     background-repeat: no-repeat;
    background-position: center;
}

.ggdeals_price {
    color: var(--priceColor);
}

.ggdeals_recommended_price {
    line-height: 12px;
    font-size: 11px;
    padding: 1px 3px 2px 17px;
    color: var(--priceColor);
    background-color: var(--priceBgColor);
    left: -3px;
    position: relative;
    top: -45px;
    float: right;
}

.ggdeals_recommended_price::before {
    height: 12px;
}

.ggdeals_main_recommended_price {
    line-height: 16px;
    font-size: 13px;
    margin-top: 8px;
    display: inline-block;
    padding: 3px 5px 1px 22px;
    color: var(--priceColor);
    background-color: var(--priceBgColor);
    position: relative;
}

.ggdeals_main_recommended_price::before {
    width: 13px;
    height: 13px;
    left: 4px;
    top: 3px;
}

.ggdeals_wishlist_price, .ggdeals_main_cart_price {
    position: absolute;
    display: inline-block;
    right: 0px;
    font-size: 15px;
    color: var(--priceColor);
    background-color: var(--priceBgColor);
    text-decoration: none;
    padding: 4px;
    padding-left: 23px;
    border-radius: 1px;
    top: -36px;
}

.ggdeals_wishlist_price::before, .ggdeals_main_cart_price::before {
    left: 4px;
    width: 15px;
    height: 15px;
    top: 7px;
}

.ggdeals_wishlist_priceBox {
    position: absolute;
    right: 16px;
    margin-top: 11px;
}

#ggdeals_settings_btn {
    display: inline-block;
    width: 46px;
    height: 24px;
    background-color: rgba(103,112,123,.2);
    margin: 0px 7px;
    transition: background-color .2s ease-in-out;
}

#ggdeals_settings_btn:hover {
    background-color: #3d4450;
    transition: background-color .2s ease-in-out;
}

#ggdeals_settings_btn::before {
    content: "";
    background-image: url(https://raw.githubusercontent.com/Juzlus/GG.deals-on-Steam/refs/heads/server/icons/ggdeals_logo_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.6;
    margin-left: 13px;
    margin-top: 2px;
}

#ggdeals_settings_btn::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--settingAlertBg);
    opacity: 0.6;
    margin-left: 35px;
    margin-top: 5px;
}

.ggdeals_main_cart_price {
    top: 26px;
    right: 15px;
}

.ggdeals_other_cart_price {
    background-color: black;
}

.ggdeals_other_cart_price::before {
    top: 13px;
}

.ggdeals_search_price {
    right: -95px;
}

.search_result_row .col.search_name {
    width: 175px !important;
}

.tab_item.tablet_list_item .discount_block {
    right: 110px;
}

.ggdeals_bundle_price {
    font-size: 13px;
    padding: 3px 6px;
    right: 18px;
    top: 31px;
    z-index: 999;
    padding-left: 24px;
}

.ggdeals_bundle_price::before {
    left: 6px;
    width: 13px;
    height: 13px;
    top: 1.2px
}